{% extends 'base.html' %}
<!-- Styles block -->

{% block styles %}
    {{ super() }}    
    <link rel="stylesheet" href="{{url_for('static',filename='css/index6.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %} 

<div class="container">
    <div class="row" style="text-align: center; height: 30px; padding: 7px;">
        <div class="col"></div>
        <div class="col-sm-10 col-md-10">
            <ul class="stations-list" style="max-height: 30px; overflow-y: hidden;">
               <li class="station"><button>CNN</button></li> 
               <li class="station"><button>BBC</button></li> 
               <li class="station"><button>Fox News</button></li> 
               <li class="station"><button>MSNBC</button></li> 
               <li class="station"><button>Al Jazeera</button></li> 
            </ul>
        </div>
        <div class="col">
            <select searchable="Select Country">                        
                <option value="1">🇺🇸 US</option>
                <option value="2">🇨🇦 CA</option>
                <option value="3">🇨🇳 CN</option>                        
                <option value="5">🇫🇷 FR</option>
                <option value="6">🇩🇪 GE</option>                        
                <option value="8">🇮🇹 IT</option>
                <option value="9">🇯🇵 JP</option>                        
                <option value="10">🇷🇺 RU</option>
                <option value="11">🇬🇧 UK</option> 
                <h2>Africa:</h2>
                <option value="12">🇪🇬 EG</option> 
                <option value="13">🇳🇬 NG</option> 
            </select>
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 15px;">        
        <div class="container-fluid" style="background-color: aqua; ">
            <h2>HEADLINES</h2> 
            <div class="d-flex flex-row flex-nowrap" style="max-height: 50vh; overflow-y: scroll;">               
            {% for source_headline in source %}           
                <div class="card card-body">
                    <img src=" {{ source_headline.urlToImage }}" class="card-img-top" style ="height: 400px; width: 600px;"alt="...">
                    <div class="headline-body">
                      <h5 class="headline-title">{{ source_headline.title | truncate(50) }}</h5>                    
                      <p class="headline-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>                  
                </div>            
            {% endfor %}
            </div>
        </div>      
    </div>
    <style>
        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;            
            display: inline;
        }

    </style>
    <div class="row">
        <div class="col-md-6" style="padding: 5px;"> 
            <div class="container" style="background-color: blueviolet; width: 570px; ">
                <h2>SPORTS</h2>
                <div class="container" style="max-height: 50vh; width: 570px; overflow-y: scroll;">                    
                    {% for sports_category in sports %}
                        <hr>
                        <h4> {{sports_category.description }}</h4>
                        <p><a href="{{sports_category.url}}"> {{sports_category.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="container" style="background-color:greenyellow; height: 30vh; width: 500px;">
                Entertainment
            </div>
        </div>
        <div class="col-md-6" style="padding: 5px;">
            <div class="container" style="background-color: coral; height: 40vh; width: 550px;">
                Business
            </div>
            <br>
            <div class="container" style="background-color: crimson; height: 40vh; width: 500px;">
                Tech
            </div>
        </div>
    </div>    
    <div class="row" style="padding: 7px;">
        <div class="col-md-6">
            <div class="container" style="background-color:darksalmon; height: 20vh; width: 550px;"> 
                Health
            </div>
        </div>
    
        <div class="col-md-6" style="padding-top: 5px;">
            <div class="container" style="background-color:dimgrey; height: 20vh; width: 600px;">
                Science
            </div>
        </div>
    </div>
</div>      
<div class="footer" style="height: 10vh; background-color: #1F2525"></div>      
{% endblock %}