{% extends 'base.html' %}
<!-- Styles block -->

{% block styles %}
    {{ super() }}    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %} 

<div class="container">
    <div class="row" style="text-align: center; height: 30px; padding: 7px;">
        <div class="col"></div>
        <div class="col-sm-10 col-md-10">
            <ul class="stations-list" style="max-height: 30px; overflow-y: hidden;">
               <li class="station"><a href="/news/cnn"><button>CNN</button></a></li> 
               <li class="station"><a href="/news/bbc-news"><button>BBC</button></a></li> 
               <li class="station"><a href="/news/fox-news"><button>Fox News</button></a></li> 
               <li class="station"><a href="/news/msnbc"><button>MSNBC</button></a></li> 
               <li class="station"><a href="/news/al-jazeera-english"><button>Al Jazeera</button></a></li> 
            </ul>
        </div>
        <div class="col">
            <select searchable="Select Country">                        
                <option value="1">🇺🇸 US</option>
                <option value="2">🇨🇦 CA</option>
                <option value="3">🇨🇳 CN</option>                        
                <option value="5">🇫🇷 FR</option>
                <option value="6">🇩🇪 GE</option>                        
                <option value="8">🇮🇹 IT</option>
                <option value="9">🇯🇵 JP</option>                        
                <option value="10">🇷🇺 RU</option>
                <option value="11">🇬🇧 UK</option>                 
                <option value="12">🇪🇬 EG</option> 
                <option value="13">🇳🇬 NG</option> 
            </select>
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 15px;">        
        <div class="page-wrapper">
            <div class="post-slider ">            
                <h1 class="slider-title">HEADING NEWS</h1>                
                <div class="post-display container">
                    {% for source_headline in source %}
                    <div class="headline">                        
                        <img src=" {{ source_headline.urlToImage }}" class="card-img-top" style ="height: 100%; width: 100%; opacity: .6;" alt="...">                                                
                        <h1 style="position: absolute; top: 65%; text-align: right; right: 3px; width: 65vw; "><a href="{{source_headline.url}}" style="color: white;"> {{source_headline.title}}</a> <span style="font-size: 20px; color: beige; display: block;">{{source_headline.publishedAt }} <span style="font-size: 30px; color: red;">|</span></span></h1>
                    </div>
                    {% endfor %}
                </div>
                <i class="fa fa-chevron-left prev"></i>
                <i class="fa fa-chevron-right next"></i>
                <div class="post-wrapper container">
                    {% for source_headline in source %}
                    <div class="headline">
                        <img src=" {{ source_headline.urlToImage }}" class="card-img-top" style ="height: 100%; width: 100%; "alt="...">
                        <h4 style="position: absolute; text-align: center; top: 50%; width: 225px; background-color: rgba(18, 19, 19, .6);"><a href="{{source_headline.url}}" style="color: white;"> {{source_headline.title |truncate (45)}}</a> </h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>                      
    </div>
    <style>
        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;            
            display: inline;
        }

    </style>
    <div class="row">
        <div class="col-md-6" style="padding: 5px;"> 
            <div class="container" style="width: 550px; padding: 10px;">
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://i.iheart.com/v3/re/new_assets/5e6a7070565938228d384770?ops=fit(1540%2C870)'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 35%;  color: white;">SPORTS</h2>
                </div>
                <div class="container" style="max-height: 50vh; width: 550px; overflow-y: scroll;">                    
                    {% for sports_category in sports %}
                        <hr>                        
                        <h4> {{sports_category.description }}</h4>
                        <p><a href="{{sports_category.url}}" style=" text-align:right; right: 2px;"> {{sports_category.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="container" style="width: 500px; padding: 18px;">
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRoX7lugQwtq04GfCv9zcTe80OdJCWigNQhGQ&usqp=CAU'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 30%;  color: white;">ENTERTAINMENT</h2>
                </div>                
                <div class="container" style="max-height: 30vh; width: 500px;  overflow-y: scroll;">
                    {% for entertainment_category in entertainment %}
                        <hr>
                        <h4> {{entertainment_category.description }}</h4>
                        <p><a href="{{entertainment_category.url}}"> {{entertainment_category.name }}</a></p>
                    {% endfor %}                
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding: 5px;">
            <div class="container" style="width: 550px; padding: 7px;">
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRwUqkmRnEJPG_OeR2vJKNNUhLJS-jvKiPNw&usqp=CAU'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 35%;  color: white;">BUSINESS</h2>
                </div>                
                <div class="container" style="max-height: 40vh; width: 550px;  overflow-y: scroll;">
                    {% for business_category in business %}
                        <hr>
                        <h4> {{business_category.description }}</h4>
                        <p><a href="{{business_category.url}}"> {{business_category.name }}</a></p>
                    {% endfor %}                
                </div>
            </div>
            <br>
            <div class="container" style="width: 550px; padding: 10px;">
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://cdn.business2community.com/wp-content/uploads/2015/01/HiRes-7.jpg.jpg'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 35%;  color: white;">TECHNOLOGY</h2>
                </div>                
                <div class="container" style="max-height: 40vh; width: 550px;  overflow-y: scroll;">
                    {% for technology_category in technology %}
                        <hr>
                        <h4> {{technology_category.description }}</h4>
                        <p><a href="{{technology_category.url}}"> {{technology_category.name }}</a></p>
                    {% endfor %}                
                </div>
            </div>
        </div>
    </div>        
    <div class="row" style="padding: 7px;">
        <div class="col-md-6">
            <div class="container" style="width: 550px; padding: 14px;"> 
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://web.iit.edu/sites/web/files/field_uploads/slideshow/full-body-slide/2015/main_home1_770x350.jpg'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 35%;  color: white;">HEALTH</h2>
                </div>                
                <div class="container" style="max-height: 20vh; width: 550px;  overflow-y: scroll;">
                    {% for health_category in health %}
                        <hr>
                        <h4> {{health_category.description }}</h4>
                        <p><a href="{{health_category.url}}"> {{health_category.name }}</a></p>
                    {% endfor %}                
                </div>
            </div>
        </div>
    
        <div class="col-md-6" style="padding-top: 5px;">
            <div class="container" style=" width: 500px; padding: 13px;">
                <div class="container" style="background-image: linear-gradient(0deg, rgba(31, 37, 37,0.4), rgba(31, 37, 37,0.9)), url('https://i.iheart.com/v3/re/new_assets/5e6a7070565938228d384770?ops=fit(1540%2C870)'); background-attachment: fixed;   background-position: center; background-repeat: no-repeat; background-size: cover;
                width: 100%; height: 10vh;" >
                    <h2 style="padding-left: 35%;  color: white;">SCIENCE</h2>
                </div>                
                <div class="container" style="max-height: 20vh; width: 500px;  overflow-y: scroll;">
                    {% for science_category in science %}
                        <hr>
                        <h4> {{science_category.description }}</h4>
                        <p><a href="{{science_category.url}}"> {{science_category.name }}</a></p>
                    {% endfor %}                
                </div>
            </div>
        </div>
    </div>
</div>      
<div class="footer" style="height: 10vh; background-color: #1F2525">
<div class="container">
    <p style="color: white; padding-left: 45%;"> Wilfred Muema  ©️  2020</p>
</div>
</div>      
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% endblock %}