<div class="container">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container" style="position: absolute;bottom: 12px; left: 45%;">
           <a class="navbar-brand" href="/"><h1 class="heading" style="color: white; font-weight: 900; background-color: darkred; padding: 10px;">  NEWS <span style=" color: red; background-color: white; font-size: 29px;"> 101 </span></h1></a>
        </div>
    </nav>
</div>
<div class="jumbotron-fluid"></div>
<style>
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}
.navbar{
    background:/*linear-gradient(0deg, rgba(31, 37, 37,0.8), rgba(31, 37, 37,0.8)),*/ url(https://images.unsplash.com/photo-1558371485-a64dc35ca619?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);    
    height: 5vh;
    background-repeat: no-repeat;
    background-size:cover;    
}
.page-footer,.top-nav-collapse{
    background-color:#1C2331
}
@media only screen and (max-width:35vh){
    .navbar{
        background-color:#1C2331
    }
}
.jumbotron-fluid {
    background:linear-gradient(0deg, rgba(31, 37, 37,0.8), rgba(31, 37, 37,0.8)), url(http://hop.ie/balls/images/world-map-one-color.png);    
    margin-top: 6vh;
    height: 30vh;    
    background-repeat: no-repeat;
    background-size: cover;
}    
</style>
