<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
    
    <a class="navbar-brand" href="/" style="align-self: centre;"> <strong>NEWS<span>101</span></strong></a>

    </div>
</nav>
<div class="jumbotron-fluid"></div>
<style>
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}
.view,body,html{
    height:100%
}
.navbar{
    background-color:rgba(0,0,0,.2);
    height: 5vh;
    padding: 20px;
    position: absolute;
}
.page-footer,.top-nav-collapse{
    background-color:#1C2331
}
@media only screen and (max-width:35vh){
    .navbar{
        background-color:#1C2331
    }
}
.jumbotron-fluid {
    background:linear-gradient(0deg, rgba(31, 37, 37,0.8), rgba(31, 37, 37,0.8)), url(http://hop.ie/balls/images/world-map-one-color.png);    
    margin-top: 6vh;
    height: 30vh;    
    background-repeat: no-repeat;
    background-size: cover;
}    
</style>
