{% extends 'base.html' %}
<!-- Styles block -->

{% block styles %}
    {{ super() }}    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->
{%block content %}
<div class="container">
    <div class="row" style="text-align: center; height: 30px; padding: 7px;">
        <div class="col"></div>
        <div class="col-sm-10 col-md-10">
            <ul class="stations-list" style="max-height: 30px; overflow-y: hidden;">
               <li class="station"><a href="/news/cnn"><button>CNN</button></a></li> 
               <li class="station"><a href="/news/bbc-news"><button>BBC</button></a></li> 
               <li class="station"><a href="/news/fox-news"><button>Fox News</button></a></li> 
               <li class="station"><a href="/news/msnbc"><button>MSNBC</button></a></li> 
               <li class="station"><a href="/news/al-jazeera-english"><button>Al Jazeera</button></a></li> 
            </ul>
        </div>
        <div class="col">        
        </div>
    </div>
    <hr>
    <div class="row" style="padding: 5px;">        
        <div class="page-wrapper">
            <div class="post-slider ">            
                <h1 class="slider-title" style="text-transform: uppercase;"> {{title}} </h1>                
                <div class="post-display container">
                    {% for station in station %}
                    <div class="headline">                        
                        <img src=" {{ station.urlToImage }}" class="card-img-top" style ="height: 100%; width: 100%; opacity: .6;" alt="...">                                                
                        <h1 style="position: absolute; top: 70%; text-align: right; right: 3px; width: 65vw; "><a href="{{station.url}}" style="color: white;"> {{station.title}}</a> <span style="font-size: 20px; color: beige; display: block;">{{station.publishedAt }} <span style="font-size: 30px; color: red;">|</span></span></h1>
                    </div>
                    {% endfor %}
                </div>
                <i class="fa fa-chevron-left prev"></i>
                <i class="fa fa-chevron-right next"></i>
                <div class="post-wrapper container">
                    {% for station in station %}
                    <div class="headline">
                        <img src=" {{ station.urlToImage }}" class="card-img-top" style ="height: 100%; width: 100%; "alt="...">
                        <h4 style="position: absolute; text-align: center; top: 50%; width: 225px; background-color: rgba(18, 19, 19, .6);"><a href="{{station.url}}" style="color: white;"> {{station.title |truncate (45)}}</a></h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>                      
    </div>    
</div>
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{url_for('.static', filename='js/index.js')}}"></script>
{% endblock %}
{% endblock %}